.add-button {
  margin-right: 2rem;
  color: var(--color-white-1);
  font-size: 2rem;
  font-weight: 900;
  background-color: var(--color-yellow-hover);
  border-radius: 100px;
  border: none;
  position: relative;
  overflow: hidden;
  outline: none;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  translate: all 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

.add-button:hover {
  transform: translateY(-2px);
  color: var(--color-Grey-dark-1);
}

.add-button:active {
  transform: translateY(2px);
}
.button-small {
  font-size: 0.9rem;
  font-weight: 900;
  margin-right: 0.2rem;
  border-radius: 100%;
  background-color: var(--color-white-1);
  color: #c72c41;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
}
.button-small:hover {
  background-color: #c72c41;
  color: var(--color-white-1);
}
